<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kayChartTest.Properties.Settings.heart_rate_sensorConnectionString"
            connectionString="Data Source=william1602.database.windows.net;Initial Catalog=&quot;heart_rate sensor&quot;;Persist Security Info=True;User ID=williampham;Password=Will1602*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>